.taskInputform {
  gap: 80px;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px;
}

.inputRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  & input:first-child {
    margin-bottom: 12px;
  }
}
